
<nav class="navbar navbar-expand-md navbar-light bg-body-light sticky-top border-bottom">
  <div class="container-fluid navbar-main">

    <a class="navbar-brand fw-bold" href="/listings"
      ><i class="fa-solid fa-house"></i>StayEase</a
    >
    <form role="search" action="/listings" method="GET" class="search-form">
      <input class="form-control search-input" name="search" type="search" placeholder="Search  destinations" aria-label="Search"/>
      <button class="btn search-btn" type="submit">Search</button>
     </form>
  
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto text-md-center">
        <a class="nav-link" href="/listings"><i class="fa-solid fa-compass me-1"></i>Explore</a>
        <% if(!userLog) {%>
        <a class="nav-link" href="/signup">Signup</a
        >
        <a class="nav-link" href="/login">Login</a
        >
        <% } %> <% if(userLog){%>
        <a class="nav-link" href="/listings/new">Stayease your home</a>
        <a class="nav-link" href="/logout">Logout</a
        >
        <% } %>
     </div>
    </div>
  </div>
</nav>